.App {
  text-align: center;
}

.nameMain{
  font-size: 40px;
}

.borderMain{
  border: 20px solid orange;
}

.hrLine{
  border: 1px solid black;
}

.inputField{
  text-decoration: none !important;
  outline: 0 !important;
  border: none !important;
  border-bottom: 2px solid black !important;
}

.inputField:focus{
  text-decoration: none !important;
  outline: 0 !important;
  border: none !important;
  border-bottom: 2px solid black !important;
  box-shadow: none;
}